<!-- IF U_SEE_ADS and ENABLE_HEADER_AD -->
<!-- IF (ENABLE_ADSENSE_TESTMODE and U_ACP) or not ENABLE_ADSENSE_TESTMODE -->
<!-- IF not S_IN_UCP -->
	<div class="panel headerads">
	<div class="adloader">
	{HEADER_AD_TEXT}
	</div>
	</div>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF U_SEE_ADS and ADBLOCK_AD_TEXT and ENABLE_ADBLOCK_DETECTOR -->
<!-- IF (ENABLE_ADSENSE_TESTMODE and U_ACP) or not ENABLE_ADSENSE_TESTMODE -->
<!-- IF not S_IN_UCP -->
	<div class="panel headerads">
	<div id="gandalfads">
	{ADBLOCK_AD_TEXT}
	</div>
	</div>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->